* {
	box-sizing: border-box;
}

body {
	background-color: #F5F7F7;
	color: #555;
	font-family: 'Dosis', sans-serif;

}

h1 {
	margin-top: 20%;
	margin-right: 10%;
	text-align: right;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 3em;
	margin-right: 10%;
	text-align: right;	
}

a:link, a:visited {
	color: #555;
	text-decoration: none;
}

a:hover {
	color: #111;
	text-decoration: none;
}

.botones {
	float: left;
	width: 20%;
}

.btn:nth-child(n+2){
	margin-top: 20px;

}
.btn {
	text-align: center;
	font-size: 2em;
	color: #FFF;

	width: 100%;
	padding: 0 15px 0 15px;
	/*background-color: #EFEFEF;*/
	/*border-radius: 0;*/
}

#btnBreak, #btnLunch, #btnDinner {
}

#breakfast, #lunch, #dinner {
	text-align: center;
	font-size: 3em;
}


/* ////////  MEDIA QUERIES   ///////// */
/* iPhones */
@media screen and (max-width: 479px) {
	h1 {
		font-size: 1.6em;
		margin-top: 30%;
		margin-right: 5%;
	}
	h2 {
		font-size: 1.6em;
	}

	#btnBreak, #btnLunch, #btnDinner { 
		/*width: 100%;*/
	}

	.botones {
		width: 30%;
	}

	.btn {
		font-size: 1.2em;
		height: 2.5em;

	}

	#breakfast, #lunch, #dinner {
		text-align: center;
		font-size: 2em;
	}
}
