* {
	box-sizing: border-box;
}

body {
	background-color: #9AF3D6;
}

h1 {
	font-family: 'Indie Flower', cursive;
}

#botones {
	text-align: center;

}

#btnBreak, #btnLunch, #btnDinner {
	width: 30%;
	margin: 0 5px 0 5px;
}

@media screen and (min-width: 767px) {

}

@media screen and (max-width: 480px) {
	h1{
		font-size: 50px;
	}
#btnBreak, #btnLunch, #btnDinner {
	width: 100%;
	margin: 0;
}
	.btn {
		font-size: 3em;
	}
	#breakfast, #lunch, #dinner {
		text-align: center;
		font-size: 3em;
	}

}
