* {
	box-sizing: border-box;
}

body {
	background-color: #F5F7F7;
	color: #555;
	font-family: 'Dosis', sans-serif;

}

h1 {
	margin-top: 20%;
	margin-right: 10%;
	text-align: right;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 3em;
	margin-right: 10%;
	text-align: right;	
}

a:link, a:visited {
	color: #555;
	text-decoration: none;
}

a:hover {
	color: #111;
	text-decoration: none;
}

.botones {
	float: left;
}

.btn {
	text-align: left;
	margin-top: 20px;
	font-size: 2em;
}

#btnBreak, #btnLunch, #btnDinner {
	width: 100%;
	padding: 0 15px 0 15px;
	border-radius: 0;
}

#breakfast, #lunch, #dinner {
	text-align: center;
	font-size: 3em;
}


/* ////////  MEDIA QUERIES   ///////// */
@media screen and (min-width: 767px) {

}

@media screen and (max-width: 479px) {
	h1, h2 {
		font-size: 1.5em;
		margin-top: 30%;
		margin-right: 5%;
	}


	#btnBreak, #btnLunch, #btnDinner { 
		width: 100%;
	}

	.btn {
		font-size: 3em;
	}

	#breakfast, #lunch, #dinner {
		text-align: center;
		font-size: 3em;
	}
}
